.flex-shrink-0.p-3.bg-white
  %a.d-flex.align-items-center.pb-3.mb-3.link-dark.text-decoration-none.border-bottom{:href => "/"}
    %svg.bi.me-4{:height => "24", :width => "30"}
      %use{"xlink:href" => "#bootstrap"}
    %span.fs-5.fw-semibold Меню:
  %ul.list-unstyled.ps-0
    #home-collapse.collapse.show
      %ul.btn-toggle-nav.list-unstyled.fw-normal.pb-1.small
        %li
          %a.link-dark.rounded{:href => orders_path } Заказы
        %li
          %a.link-dark.rounded{:href => services_path } Услуги
        %li
          %a.link-dark.rounded{:href => categories_path } Категория услуги
        %li
          %a.link-dark.rounded{:href => executors_path } Исполнитель услуги
